/*  CodePrinter
*   LESS(CSS) document
*   
*   version     0.4.3
*/

@backgroundColor:       rgb(255,255,255);
@borderColor:           rgb(192,192,192);
@textColor:             rgb(119,119,119);
@gradientStartColor:    rgb(240,240,240);
@gradientEndColor:      rgb(250,250,250);
@paddingY:              5px;
@paddingX:              15px;
@font:                  Menlo, Monaco, monospace, Courier;
@fontSize:              11px;
@lineHeight:            15px;
@lineTransition:        .2s;
@indentBorder:          1px dotted rgb(200,200,200);
    
.codeprinter {
    .block;
    .nowrap;
    .margins(0, 0);
    .border(silver, 1px);
    min-width:50px;
    min-height:20px;
    overflow:hidden;
    position:relative; top:0;
    
    &, * {
        -webkit-tap-highlight-color:transparent;
    }
    
    .cp-container {
        .block;
        .flexbox;
        .flex-flow(column);
        position:relative;
        
        .cp-tempdiv {
            .inline-block;
            .margins(0, 0);
            white-space:pre;
            position:absolute;
            top:-100px; left:-100px;
            visibility:hidden;
        }
    }
    .cp-wrapper {
        .block;
        .flexbox;
        .flex(1);
        .flex-flow(column);
        .size(auto, 100%);
        .margins(0 0 0 35px, 0);
        .sizing(border-box);
        background:@backgroundColor;
        border:none;
        min-width:120px;
        min-height:60px;
        position:relative;
        z-index:4;
        overflow:scroll;
        overflow-x:scroll;
        overflow-y:scroll;
    }
    .cp-source {
        .block;
        .margins(0, @paddingY @paddingX);
        .sizing(border-box);
        background:none;
        border-width:0;
        min-width:100%;
        min-height:100%;
        color:black;
        resize:none;
        outline:none;
        z-index:3;
        overflow:visible !important;
        overflow-x:visible !important;
        overflow-y:visible !important;
        white-space:pre;
        position:relative;
    }
    .cp-input {
        .inline-block;
        .vertical-top;
        .size(10px, 20px);
        .margins(0, 0);
        background:none;
        color:transparent;
        resize:none;
        outline:none;
        opacity:0;
        white-space:pre;
        position:absolute;
        top:-100px; left:-100px;
    }
    .cp-overlay {
        .block;
        .size(auto, auto);
        .margins(0, @paddingY @paddingX);
        .sizing(border-box);
        min-width:100%;
        min-height:100%;
        border-width:0;
        color:inherit;
        z-index:5;
        overflow:visible;
        overflow-x:visible;
        overflow-y:visible;
        position:relative;
        cursor:text;
        
        pre {
            .block;
            .size(auto, auto);
            .margins(0 -@paddingX, 0 @paddingX);
            .transition(@lineTransition);
            color:inherit;
        }
    }
    .cp-counter {
        .inline-block;
        .vertical-top;
        .margins(0, 0);
        .size(auto, auto);
        .linear-gradient(right, @gradientStartColor, @gradientEndColor);
        .border(@borderColor, 0 1px 0 0);
        .shadow(0 0 10px rgba(0,0,0,0.25));
        .user-select(none);
        color:@textColor;
        min-width:38px;
        z-index:6;
        overflow:hidden;
        position:absolute;
        top:0; left:0; bottom:0;
        
        ol {
            .block;
            .margins(0, @paddingY 0);
            .align-right;
            min-width:38px;
            list-style-type:none;
        }
        
        li {
            .margins(0, 0 5px 0 7px);
            .align-right;
            .transition(@lineTransition);
            color:inherit;
            font-family:inherit;
            font-size:inherit;
            list-style-type:none;
        }
    }
    .cp-infobar {
        .block();
        .flexbox;
        .flex-flow(row);
        .size(auto, 12px);
        .margins(0, 2px 5px);
        .linear-gradient(bottom, @gradientStartColor, @gradientEndColor);
        .border(@borderColor, 0 0 1px 0);
        .shadow(0 0 7px rgba(0,0,0,0.15));
        .user-select(none);
        font-family:Verdana;
        font-size:9px;
        color:@textColor;
        position:relative;
        z-index:8;
        overflow:hidden;
        
        span {
            .margins(0 5px);
        }
        .cp-characters {
            .flex(1);
            .align-right;
        }
        a {
            .margins(0 5px, 0);
            .transition(.3s, color);
            color:inherit;
            
            &:hover {
                color:(@textColor - #333);
                text-decoration:underline !important;
            }
        }
    }
    .cpf-bar {
        .flexbox;
        .size(100%, auto);
        .margins(0, 0);
        .linear-gradient(top, @gradientStartColor, @gradientEndColor);
        .border(@borderColor, 1px 0 0 0);
        .sizing(border-box);
        .shadow(0 0 10px rgba(0,0,0,0.25));
        font-size:12px;
        color:black;
        position:relative;
        z-index:7;
        
        .cpf-leftbox {
            .margins(0, 0 5px);
            .sizing(border-box);
        }
        .cpf-flexbox {
            .flex(1);
            .sizing(border-box);
            min-width:100px;
        }
    }
    .cpf-input {
        .block;
        .size(100%, 23px);
        .margins(0, 3px 8px);
        .border(@borderColor, 0 0 0 1px);
        .round-corner(0);
        .sizing(border-box);
        min-width:100px;
        font-size:inherit;
        color:inherit;
        outline:none;
    }
    .cpf-button {
        .inline-block;
        .vertical-middle;
        .margins(0, 3px 5px);
        background:none;
        border-width:0;
        font-size:inherit;
        color:inherit;
    }
    .cpf-overlay {
        background:none !important;
        z-index:6;
        position:absolute;
        top:0; right:0; bottom:0; left:0;
    }
    .cpf-occurrence {
        .inline-block;
        .vertical-top;
        .margins(0 0 0 -1px, 0 0);
        .border(#666, 1px);
        .round-corner(4px);
        background:none;
        color:transparent;
        position:absolute;
        top:0; left:0;
        
        &.active {
            .shadow(0 0 4px rgba(0,0,0,0.2));
            background:#fdd017;
            color:black;
            pointer-events:all;
        }
    }
    .cp-caret {
        .size(1px, 10px);
        .background(black);
        .shadow(0 0 2px rgba(0,0,0,0.5));
        .position(absolute, -50px, 0, 0, 0);
        z-index:10;
    }
    
    .cp-overlay, .cp-source, .cp-input, .cp-counter {
        font-family:@font;
        font-size:@fontSize;
        word-break:normal;
        word-spacing:0px;
        word-wrap:normal;
    }
    .cp-overlay pre, .cp-source, .cp-input, .cp-counter {
        line-height:@lineHeight;
    }
    .cp-overlay pre, .cp-counter li {
        font-family:inherit;
        font-size:inherit;
        word-break:inherit;
        word-spacing:inherit;
        word-wrap:inherit;
    }
    .cp-wrapper + .cp-infobar {
        border-width:1px 0 0 0;
    }
    
    .cp-activeLine {
        background:rgba(230,239,255,0.6);
        box-shadow:0 0 1px 1px rgba(51,153,255,0.5);
    }
    .cp-tab {
        .margins(0 0 0 -1px, 0);
        border-color:transparent;
        border-left:@indentBorder;
    }
    
    .cp-highlight { box-shadow:0 1px 0 black; }
    .cp-tab { border-left-color:rgb(200,200,200); }
    .cp-bracket { color:black; pointer-events:all; }
    .cp-bracket-curly { color:red; }
    .cp-bracket-square { color:green; }
    .cp-operator { color:#333; }
    .cp-variable { color:#1a19ff; }
    .cp-keyword { color:#8959a8; }
    .cp-control { color:#881350; }
    .cp-boolean { color:#f5871f; }
    .cp-empty-value { color:#f5871f; }
    .cp-special { color:green; }
    .cp-numeric { color:#f5871f; }
    .cp-hex { color:purple; }
    .cp-fname { color:#003f83; }
    .cp-property { color:navy; }
    .cp-regexp { color:#c82829; }
    .cp-escaped { color:teal; }
    .cp-phptag { color:#FF0000; }
    .cp-string { color:maroon; }
    .cp-comment { color:#a4a4a4; }
    .cp-invalid { background:#FA2B7D; color:#F9F9F2; }
    
    &.cps-default {
        .cp-keyword, .cp-control, .cp-special, .cp-boolean, .cp-empty-value, .cp-phptag { font-weight:bold; }
        .cp-special, .cp-comment { font-style:italic; }
    }
    
    &.cp-fullscreen {
        .block;
        .flexbox;
        .flex-flow(column);
        .position(absolute, 0, 0, 0, 0);
        z-index:100;
        
        .cp-container {
            .flex(1);
        }
    }
}

/* ########### */
/* LESS MIXINS */

.size (@width: 100px, @height: 20px) { width:@width; height:@height; }
.square (@size) { width:@size; height:@size; }
.background (@str: none) { background-color:@str; }
.border (@color: #afafaf, @width: 1px, @type: solid) { border-color:@color; border-width:@width; border-style:@type; }
.margins (@margin: 0, @padding: 0) { margin:@margin; padding:@padding; }
.position (@position:'static', @top:auto, @right:auto, @bottom:auto, @left:auto) { position:@position; top:@top; right:@right; bottom:@bottom; left:@left; }
.linear-gradient (@from: top, @start: white, @end: black) { 
    background-image:-webkit-gradient(linear, left top, left bottom, from(@start), to(@end));
    background-image:-webkit-linear-gradient(@from, @start, @end);
    background-image:-moz-linear-gradient(@from, @start, @end);
    background-image:-ms-linear-gradient(@from, @start, @end);
    background-image:-o-linear-gradient(@from, @start, @end);
    background-image:linear-gradient(@from, @start, @end);
}
.linear-3-gradient (@first: white, @second: transparent, @third: black, @from: top) {
    background-image:-webkit-gradient(linear, left top, left bottom, from(@first), color-stop(@second, 0.5), to(@third));
    background-image:-webkit-linear-gradient(@from, @first, @second, @third);
    background-image:-moz-linear-gradient(@from, @first, @second, @third);
    background-image:-ms-linear-gradient(@from, @first, @second, @third);
    background-image:-o-linear-gradient(@from, @first, @second, @third);
    background-image:linear-gradient(@from, @first, @second, @third);
}
.radial-gradient (@start: white, @end: black, @shape: circle cover, @pos: center center) {
    background-image:-webkit-radial-gradient(@pos, @shape, @start, @end);
    background-image:-moz-radial-gradient(@pos, @shape, @start, @end);
    background-image:radial-gradient(@pos, @shape, @start, @end);
}
.shadow (@str: none) {
    -webkit-box-shadow:@str;
    -moz-box-shadow:@str;
    -ms-box-shadow:@str;
    -o-box-shadow:@str;
    box-shadow:@str;
}
.outset-shadow (@color: rgba(0,0,0,0.1), @blur: 15px) { box-shadow:1px 0 @blur @color, -1px 0 @blur @color, 0 1px @blur @color, 0 -1px @blur @color; }
.inset-shadow (@color: rgba(255,255,255,0.3), @blur: 0) { box-shadow:inset 0 0 @blur 1px @color; }
.round-corner (@radius: 5px) { border-radius:@radius; }

.text-shadow (@str: none) {
    -webkit-text-shadow:@str;
    -moz-text-shadow:@str;
    -ms-text-shadow:@str;
    -o-text-shadow:@str;
    text-shadow:@str;
}
.transition (@time: .2s, @delegate: all, @effect: ease-in-out) {
    @str: @delegate @time @effect;
    -webkit-transition:@str;
    -moz-transition:@str;
    -ms-transition:@str;
    -o-transition:@str;
    transition:@str;
}
.transform (@f: none) {
    -webkit-transform:@f;
    -moz-transform:@f;
    -ms-transform:@f;
    -o-transform:@f;
    transform:@f;
}
.sizing (@s: content-box) {
    -webkit-box-sizing:@s;
    -moz-box-sizing:@s;
    -ms-box-sizing:@s;
    -o-box-sizing:@s;
    box-sizing:@s;
}
.flex (@f: 1) {
    -webkit-flex:@f;
    -moz-flex:@f;
    -ms-flex:@f;
    -o-flex:@f;
    flex:@f;
}
.flex-flow (@f: row) {
    -webkit-flex-flow:@f;
    -moz-flex-flow:@f;
    -ms-flex-flow:@f;
    -o-flex-flow:@f;
    flex-flow:@f;
}
.animation (@name, @time: .2s, @i: 1, @function: ease-in-out) {
    @str: @name @time @i @function;
    -webkit-animation:@str;
    -moz-animation:@str;
    -ms-animation:@str;
    -o-animation:@str;
    animation:@str;
}
.appearance (@apr: none) {
    -webkit-appearance:@apr;
    -moz-appearance:@apr;
    -ms-appearance:@apr;
    -o-appearance:@apr;
    appearance:@apr;
}
.user-select (@s: none) {
    -webkit-user-select:@s;
    -moz-user-select:@s;
    -ms-user-select:@s;
    -o-user-select:@s;
    user-select:@s;
}
.pack-align (@pack: center, @align: center) {
    -webkit-box-align:@align;
    -moz-box-align:@align;
    -ms-flex-align:@align;
    box-align:@align;
    
    -webkit-box-pack:@pack;
    -moz-box-pack:@pack;
    -ms-flex-pack:@pack;
    box-pack:@pack;
}

.block              { display:block;            }
.inline             { display:inline;           }
.inline-block       { display:inline-block;     }
.flexbox            { display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex; }
.hidden             { display:none;             }
.table              { display:table;            }
.table-cell         { display:table-cell;       }
.table-row          { display:table-row;        }
.vertical-top       { vertical-align:top;       }
.vertical-middle    { vertical-align:middle;    }
.vertical-bottom    { vertical-align:bottom;    }
.align-left         { text-align:left;          }
.align-center       { text-align:center;        }
.align-right        { text-align:right;         }
.bold               { font-weight:bold;         }
.italic             { font-style:italic;        }
.text-muted         { color:rgb(153, 153, 153); }
.text-warning       { color:rgb(192, 152, 83);  }
.text-error         { color:rgb(185, 74, 72);   }
.text-info          { color:rgb(58, 135, 173);  }
.text-success       { color:rgb(70, 136, 71);   }
.no-rounded         { .round-corner(0);         }
.mini-rounded       { .round-corner(2px);       }
.small-rounded      { .round-corner(4px);       }
.medium-rounded     { .round-corner(8px);       }
.large-rounded      { .round-corner(15px);      }
.xl-rounded         { .round-corner(20px);      }
.xxl-rounded        { .round-corner(30px);      }
.not-allowed        { cursor:not-allowed;       }
.non-events         { pointer-events:none;      }
.nowrap             { white-space:nowrap;       }