/*  CodePrinter
*   LESS(CSS) document
*   
*   version     0.5.0
*/
.codeprinter {
  display: block;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  border-color: #c0c0c0;
  border-width: 1px;
  border-style: solid;
  min-width: 50px;
  min-height: 20px;
  overflow: hidden;
  position: relative;
  top: 0;
}
.codeprinter,
.codeprinter * {
  -webkit-tap-highlight-color: transparent;
}
.codeprinter .cp-container {
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  position: relative;
}
.codeprinter .cp-container .cp-templine {
  display: inline-block;
  margin: 0;
  padding: 0;
  white-space: pre;
  position: absolute;
  top: -100px;
  left: -100px;
  visibility: hidden;
}
.codeprinter .cp-wrapper {
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  width: auto;
  height: 100%;
  margin: 0 0 0 35px;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  border: none;
  min-width: 120px;
  min-height: 60px;
  position: relative;
  z-index: 4;
  overflow: scroll;
  overflow-x: scroll;
  overflow-y: scroll;
}
.codeprinter .cp-source {
  display: block;
  margin: 0;
  padding: 5px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
  border-width: 0;
  min-width: 100%;
  min-height: 100%;
  color: black;
  resize: none;
  outline: none;
  z-index: 3;
  overflow: visible !important;
  overflow-x: visible !important;
  overflow-y: visible !important;
  white-space: pre;
  position: relative;
}
.codeprinter .cp-input {
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 20px;
  margin: 0;
  padding: 0;
  pointer-events: none;
  background: none;
  color: transparent;
  resize: none;
  outline: none;
  opacity: 0;
  white-space: pre;
  position: absolute;
  top: -100px;
  left: -100px;
}
.codeprinter .cp-screen,
.codeprinter .cp-codelines {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 100%;
  min-height: 100%;
  position: relative;
  cursor: text;
}
.codeprinter .cp-screen {
  margin: 0;
  padding: 0;
  border-width: 0;
  color: inherit;
  z-index: 5;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  position: relative;
  cursor: text;
}
.codeprinter .cp-screen pre {
  display: block;
  width: auto;
  height: auto;
  margin: 0 -15px;
  padding: 0 15px;
  color: inherit;
}
.codeprinter .cp-codelines {
  margin: 0;
  padding: 5px 15px;
}
.codeprinter .cp-counter {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#fafafa));
  background-image: -webkit-linear-gradient(right, #f0f0f0, #fafafa);
  background-image: -moz-linear-gradient(right, #f0f0f0, #fafafa);
  background-image: -ms-linear-gradient(right, #f0f0f0, #fafafa);
  background-image: -o-linear-gradient(right, #f0f0f0, #fafafa);
  background-image: linear-gradient(right, #f0f0f0, #fafafa);
  border-color: #c0c0c0;
  border-width: 0 1px 0 0;
  border-style: solid;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #777777;
  min-width: 38px;
  z-index: 6;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.codeprinter .cp-counter ol {
  display: block;
  margin: 0;
  padding: 5px 0;
  text-align: right;
  min-width: 38px;
  list-style-type: none;
}
.codeprinter .cp-counter li {
  margin: 0;
  padding: 0 5px 0 7px;
  text-align: right;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  list-style-type: none;
}
.codeprinter .cpi-bar {
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  -moz-flex-flow: row;
  -ms-flex-flow: row;
  -o-flex-flow: row;
  flex-flow: row;
  width: auto;
  height: 12px;
  margin: 0;
  padding: 2px 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#fafafa));
  background-image: -webkit-linear-gradient(bottom, #f0f0f0, #fafafa);
  background-image: -moz-linear-gradient(bottom, #f0f0f0, #fafafa);
  background-image: -ms-linear-gradient(bottom, #f0f0f0, #fafafa);
  background-image: -o-linear-gradient(bottom, #f0f0f0, #fafafa);
  background-image: linear-gradient(bottom, #f0f0f0, #fafafa);
  border-color: #c0c0c0;
  border-width: 0 0 1px 0;
  border-style: solid;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-family: Verdana;
  font-size: 9px;
  color: #777777;
  position: relative;
  z-index: 8;
  overflow: hidden;
}
.codeprinter .cpi-bar span {
  margin: 0 5px;
  padding: 0;
}
.codeprinter .cpi-bar .cpi-position {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  text-align: right;
}
.codeprinter .cpi-bar a {
  margin: 0 5px;
  padding: 0;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  color: inherit;
}
.codeprinter .cpi-bar a:hover {
  color: #444444;
  text-decoration: underline !important;
}
.codeprinter .cpf-bar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#fafafa));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #fafafa);
  background-image: -moz-linear-gradient(top, #f0f0f0, #fafafa);
  background-image: -ms-linear-gradient(top, #f0f0f0, #fafafa);
  background-image: -o-linear-gradient(top, #f0f0f0, #fafafa);
  background-image: linear-gradient(top, #f0f0f0, #fafafa);
  border-color: #c0c0c0;
  border-width: 1px 0 0 0;
  border-style: solid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  color: black;
  position: relative;
  z-index: 7;
}
.codeprinter .cpf-bar .cpf-leftbox {
  margin: 0;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.codeprinter .cpf-bar .cpf-flexbox {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 100px;
}
.codeprinter .cpf-input {
  display: block;
  width: 100%;
  height: 23px;
  margin: 0;
  padding: 3px 8px;
  border-color: #c0c0c0;
  border-width: 0 0 0 1px;
  border-style: solid;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 100px;
  font-size: inherit;
  color: inherit;
  outline: none;
}
.codeprinter .cpf-button {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 3px 5px;
  background: none;
  border-width: 0;
  font-size: inherit;
  color: inherit;
}
.codeprinter .cpf-overlay {
  background: none !important;
  z-index: 6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.codeprinter .cpf-occurrence {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 -1px;
  padding: 0 0;
  border-color: #666666;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  background: none;
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
.codeprinter .cpf-occurrence.active {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  background: #fdd017;
  color: black;
  pointer-events: all;
}
.codeprinter .cp-caret {
  width: 1px;
  height: 10px;
  background-color: #000000;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: -50px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}
.codeprinter .cp-wrapper,
.codeprinter .cp-counter {
  font-family: Menlo, Monaco, monospace, Courier;
  font-size: 11px;
}
.codeprinter .cp-wrapper *,
.codeprinter .cp-counter * {
  font: inherit;
}
.codeprinter .cp-screen,
.codeprinter .cp-source,
.codeprinter .cp-input,
.codeprinter .cp-counter {
  word-break: normal;
  word-spacing: 0px;
  word-wrap: normal;
}
.codeprinter .cp-screen pre,
.codeprinter .cp-source,
.codeprinter .cp-input,
.codeprinter .cp-counter {
  line-height: 15px;
}
.codeprinter .cp-screen pre,
.codeprinter .cp-counter li {
  font-family: inherit;
  font-size: inherit;
  word-break: inherit;
  word-spacing: inherit;
  word-wrap: inherit;
}
.codeprinter .cp-wrapper + .cp-infobar {
  border-width: 1px 0 0 0;
}
.codeprinter .cp-activeLine {
  background: rgba(230, 239, 255, 0.6);
  box-shadow: 0 0 1px 1px rgba(51, 153, 255, 0.5);
}
.codeprinter .cp-tab {
  margin: 0 0 0 -1px;
  padding: 0;
  border-color: transparent;
  border-left: 1px dotted #c8c8c8;
}
.codeprinter .cp-highlight {
  box-shadow: 0 1px 0 black;
}
.codeprinter .cp-tab {
  border-left-color: #c8c8c8;
}
.codeprinter .cp-bracket {
  color: black;
  pointer-events: all;
}
.codeprinter .cp-bracket-curly {
  color: red;
}
.codeprinter .cp-bracket-square {
  color: green;
}
.codeprinter .cp-operator {
  color: #333;
}
.codeprinter .cp-variable {
  color: #1a19ff;
}
.codeprinter .cp-keyword {
  color: #8959a8;
}
.codeprinter .cp-control {
  color: #881350;
}
.codeprinter .cp-boolean {
  color: #f5871f;
}
.codeprinter .cp-empty-value {
  color: #f5871f;
}
.codeprinter .cp-special {
  color: green;
}
.codeprinter .cp-numeric {
  color: #f5871f;
}
.codeprinter .cp-hex {
  color: purple;
}
.codeprinter .cp-fname {
  color: #003f83;
}
.codeprinter .cp-property {
  color: navy;
}
.codeprinter .cp-regexp {
  color: #c82829;
}
.codeprinter .cp-escaped {
  color: teal;
}
.codeprinter .cp-phptag {
  color: #FF0000;
}
.codeprinter .cp-string {
  color: maroon;
}
.codeprinter .cp-comment {
  color: #a4a4a4;
}
.codeprinter .cp-invalid {
  background: #FA2B7D;
  color: #F9F9F2;
}
.codeprinter.cps-default .cp-keyword,
.codeprinter.cps-default .cp-control,
.codeprinter.cps-default .cp-special,
.codeprinter.cps-default .cp-boolean,
.codeprinter.cps-default .cp-empty-value,
.codeprinter.cps-default .cp-phptag {
  font-weight: bold;
}
.codeprinter.cps-default .cp-special,
.codeprinter.cps-default .cp-comment {
  font-style: italic;
}
.codeprinter.cp-fullscreen {
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}
.codeprinter.cp-fullscreen .cp-container {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
}
/* ########### */
/* LESS MIXINS */
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.hidden {
  display: none;
}
.table {
  display: table;
}
.table-cell {
  display: table-cell;
}
.table-row {
  display: table-row;
}
.vertical-top {
  vertical-align: top;
}
.vertical-middle {
  vertical-align: middle;
}
.vertical-bottom {
  vertical-align: bottom;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.text-muted {
  color: #999999;
}
.text-warning {
  color: #c09853;
}
.text-error {
  color: #b94a48;
}
.text-info {
  color: #3a87ad;
}
.text-success {
  color: #468847;
}
.no-rounded {
  border-radius: 0;
}
.mini-rounded {
  border-radius: 2px;
}
.small-rounded {
  border-radius: 4px;
}
.medium-rounded {
  border-radius: 8px;
}
.large-rounded {
  border-radius: 15px;
}
.xl-rounded {
  border-radius: 20px;
}
.xxl-rounded {
  border-radius: 30px;
}
.not-allowed {
  cursor: not-allowed;
}
.non-events {
  pointer-events: none;
}
.nowrap {
  white-space: nowrap;
}
