/*  CodePrinter
*   CSS document
*   
*   version     0.6.2
*/
.codeprinter-source {
  display: block;
  padding: 5px 15px;
  background: #fcfcfc;
  border: 1px solid #c0c0c0;
  color: #777777;
  font-family: Menlo, Monaco, Consolas, Courier, monospace;
  font-size: 11px;
  line-height: 15px;
  word-break: normal;
  word-spacing: 0px;
  word-wrap: normal;
  white-space: pre;
}
.codeprinter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  border: 1px solid #c0c0c0;
  min-width: 50px;
  min-height: 20px;
  overflow: hidden;
  position: relative;
  top: 0;
  z-index: 10;
}
.codeprinter,
.codeprinter * {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
}
.codeprinter div,
.codeprinter .cp-input,
.codeprinter .cp-counter ol,
.codeprinter .cp-counter li,
.codeprinter .cp-search-occurrence {
  margin: 0;
  padding: 0;
}
.codeprinter .cp-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  height: 100%;
  background: #fcfcfc;
  position: relative;
  font-family: Menlo, Monaco, Consolas, Courier, monospace;
  font-size: 11px;
}
.codeprinter .cp-container * {
  font: inherit;
}
.codeprinter .cp-container .cp-templine {
  display: inline-block;
  white-space: pre;
  position: absolute;
  top: -100px;
  left: -100px;
  visibility: hidden;
}
.codeprinter .cp-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  height: 100%;
  border: none;
  min-width: 120px;
  min-height: 60px;
  position: relative;
  z-index: 4;
  overflow: auto;
  cursor: text;
}
.codeprinter .cp-wrapper * {
  cursor: inherit;
}
.codeprinter .cp-input {
  display: inline-block;
  vertical-align: top;
  width: 10px;
  height: 20px;
  background: none;
  border: none;
  color: transparent;
  resize: none;
  outline: none;
  opacity: 0;
  white-space: pre;
  position: absolute;
  top: -100px;
  left: -100px;
  pointer-events: none;
}
.codeprinter .cp-screen {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  border-width: 0;
  color: inherit;
  z-index: 5;
  overflow: visible;
}
.codeprinter .cp-codelines {
  display: inline-block;
  vertical-align: top;
  min-width: 100%;
  padding: 5px 15px;
  box-sizing: border-box;
  position: relative;
}
.codeprinter .cp-codelines pre {
  margin: 0 -15px;
  padding: 0 15px;
  color: inherit;
}
.codeprinter .cp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: inline-block;
  vertical-align: top;
  min-width: 36px;
  background: #fcfcfc;
  border-right: 1px solid #c0c0c0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  color: #777777;
  z-index: 6;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  cursor: default;
  -webkit-transform: translate3d(0, 0, 0);
}
.codeprinter .cp-counter ol {
  display: block;
  padding: 5px 0;
  text-align: right;
  list-style-type: none;
  position: relative;
}
.codeprinter .cp-counter li {
  padding: 0 6px 0 15px;
  text-align: right;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  list-style-type: none;
}
.codeprinter .cp-overlay {
  background: none !important;
  z-index: 6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
.codeprinter .cp-overlay span {
  margin: 0;
  padding: 0;
  position: absolute;
}
.codeprinter .cp-selection-overlay {
  z-index: 4;
}
.codeprinter .cp-selection {
  background: #c8dcff;
  color: transparent;
  cursor: pointer;
}
.codeprinter .cpi-bar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  -moz-flex-flow: row;
  -ms-flex-flow: row;
  -o-flex-flow: row;
  flex-flow: row;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding: 2px 5px;
  height: 12px;
  background: #fcfcfc;
  border-bottom: 1px solid #c0c0c0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-family: Verdana;
  font-size: 9px;
  color: #777777;
  position: relative;
  z-index: 8;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
.codeprinter .cpi-bar span {
  margin: 0 5px;
  font-size: 9px;
}
.codeprinter .cpi-bar .cpi-info {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  text-align: right;
}
.codeprinter .cpi-bar a {
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  margin: 0 5px;
  padding: 0;
  font-size: 9px;
  color: inherit;
}
.codeprinter .cpi-bar a:hover {
  color: #444444;
  text-decoration: underline !important;
}
.codeprinter .cp-search-occurrence {
  display: inline-block;
  vertical-align: top;
  margin: -1px 0 0 -1px !important;
  background: none;
  border: 1px solid #666666;
  border-radius: 3px;
  box-sizing: border-box;
  color: transparent;
  pointer-events: all;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.codeprinter .cp-search-occurrence.active {
  background: #fdd017;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  color: black;
  z-index: 11;
}
.codeprinter .cp-caret {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  width: 1px;
  height: 10px;
  background: #000000;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: -50px;
  left: -50px;
  z-index: 100;
}
.codeprinter .cp-caret-block {
  -webkit-transition: all 0 ease-in-out;
  -moz-transition: all 0 ease-in-out;
  -ms-transition: all 0 ease-in-out;
  -o-transition: all 0 ease-in-out;
  transition: all 0 ease-in-out;
}
.codeprinter .cp-screen,
.codeprinter .cp-input,
.codeprinter .cp-counter,
.codeprinter .cp-overlay {
  word-break: normal;
  word-spacing: 0px;
  word-wrap: normal;
  white-space: pre;
}
.codeprinter .cp-codelines pre,
.codeprinter .cp-input,
.codeprinter .cp-counter,
.codeprinter .cp-selection {
  line-height: 15px;
}
.codeprinter .cp-codelines pre,
.codeprinter .cp-counter li,
.codeprinter .cp-overlay span {
  font-family: inherit;
  font-size: inherit;
  word-break: inherit;
  word-spacing: inherit;
  word-wrap: inherit;
  white-space: inherit;
}
.codeprinter .cp-wrapper + .cpi-bar {
  border-width: 1px 0 0 0;
}
.codeprinter .cp-activeLine {
  background: rgba(230, 239, 255, 0.6);
}
.codeprinter .cpx-tab {
  margin: 0 0 0 -1px;
  padding: 0;
  border-color: transparent;
  border-left: 1px dotted #c8c8c8;
}
.codeprinter .cp-highlight {
  color: transparent;
}
.codeprinter .cpx-tab {
  margin: 0 0 0 -1px;
  padding: 0;
  border-left: 1px dotted #c8c8c8;
}
.codeprinter .cpx-bracket {
  color: #000000;
}
.codeprinter .cpx-operator {
  color: #0487FA;
}
.codeprinter .cpx-variable {
  color: #1a19ff;
}
.codeprinter .cpx-parameter {
  color: #d07fcd;
}
.codeprinter .cpx-keyword,
.codeprinter .cpx-control,
.codeprinter .cpx-boolean,
.codeprinter .cpx-empty-value {
  color: #025BB9;
}
.codeprinter .cpx-special {
  color: #C93800;
}
.codeprinter .cpx-namespace {
  color: #885D3B;
}
.codeprinter .cpx-numeric {
  color: #E68D3F;
}
.codeprinter .cpx-hex {
  color: #531B93;
}
.codeprinter .cpx-function {
  color: #003f83;
}
.codeprinter .cpx-property {
  color: #028EC4;
}
.codeprinter .cpx-regexp {
  color: #6F9D00;
}
.codeprinter .cpx-escaped {
  color: #436300;
}
.codeprinter .cpx-phptag {
  color: #FF0000;
}
.codeprinter .cpx-string {
  color: #6F9D00;
}
.codeprinter .cpx-comment {
  color: #999999;
}
.codeprinter .cpx-invalid {
  background: #E63B00;
  color: #F9F9F2;
}
.codeprinter.cps-default .cp-activeLine {
  box-shadow: 0 0 0 1px rgba(51, 153, 255, 0.3);
}
.codeprinter.cps-default .cp-highlight {
  border-bottom: 1px solid black;
}
.codeprinter.cps-default .cpx-control,
.codeprinter.cps-default .cpx-phptag {
  font-weight: bold;
}
.codeprinter.cps-default .cpx-special,
.codeprinter.cps-default .cpx-hex,
.codeprinter.cps-default .cpx-comment {
  font-style: italic;
}
.codeprinter.cps-default .cpx-broket {
  color: #025BB9;
}
.codeprinter.cp-fullscreen {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
}
.codeprinter.cp-fullscreen .cp-container {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
}
.codeprinter.cp-animation {
  animation: nodeInserted 0.001s;
  -o-animation: nodeInserted 0.001s;
  -ms-animation: nodeInserted 0.001s;
  -moz-animation: nodeInserted 0.001s;
  -webkit-animation: nodeInserted 0.001s;
}
@keyframes nodeInserted {
  from {
    clip: rect(1px, auto, auto, auto);
  }
  to {
    clip: rect(0px, auto, auto, auto);
  }
}
@-moz-keyframes nodeInserted {
  from {
    clip: rect(1px, auto, auto, auto);
  }
  to {
    clip: rect(0px, auto, auto, auto);
  }
}
@-webkit-keyframes nodeInserted {
  from {
    clip: rect(1px, auto, auto, auto);
  }
  to {
    clip: rect(0px, auto, auto, auto);
  }
}
@-ms-keyframes nodeInserted {
  from {
    clip: rect(1px, auto, auto, auto);
  }
  to {
    clip: rect(0px, auto, auto, auto);
  }
}
@-o-keyframes nodeInserted {
  from {
    clip: rect(1px, auto, auto, auto);
  }
  to {
    clip: rect(0px, auto, auto, auto);
  }
}
