/* CodePrinter - default theme */

.cp-wrapper { background:white; }

.cp-javascript { color:black; }
.cp-tab { border-left-color:rgb(200,200,200); }
.cp-bracket { color:black; }
.cp-curlybracket { color:red; }
.cp-squarebracket { color:green; }
.cp-roundbracket { color:black; }
.cp-operator { color:#333; }
.cp-keyword { color:#8959a8; font-style:italic; font-weight:bold; }
.cp-boolean { color:#f5871f; }
.cp-specials { color:green; font-weight:bold; }
.cp-numeric { color:#f5871f; font-weight:bold; }
.cp-hex { color:purple; font-style:italic; }
.cp-fname { color:#003f83; }
.cp-property { color:navy; }
.cp-regex { color:#c82829; }
.cp-escaped { color:teal; }
.cp-string, .cp-string * { color:maroon !important; }
.cp-comment, .cp-comment * { color:#a4a4a4 !important; }