/* CodePrinter - Eclipse theme */

.cps-eclipse .cp-wrapper { background:#FFFFFF; color:#000000; }
.cps-eclipse .cp-counter,
.cps-eclipse .cp-infobar,
.cps-eclipse .cpf-bar { background:#FFFFFF; border-color:#AAAAAA; color:#000000; box-shadow:0 0 4px rgba(0,0,0,0.3); }
.cps-eclipse .cp-caret { background:#000000; box-shadow:0 0 2px rgba(0,0,0,0.5); }
.cps-eclipse .cp-source::selection { background:black; }
.cps-eclipse .cp-highlight { box-shadow:0 1px 0 black; }
.cps-eclipse .cp-activeLine { background:#E8F2FE; box-shadow:none; }
.cps-eclipse .cpf-input { background:#FAFAFA; border-color:#AAAAAA; }
.cps-eclipse .cpf-occurrence { border-color:#AAAAAA; }
.cps-eclipse .cpf-occurrence.active { background:white; border-color:black; }

.cps-eclipse .cp-tab { border-color:#D8D8D8; }
.cps-eclipse .cp-bracket { color:#000000; }
.cps-eclipse .cp-operator { color:#0000FF; }
.cps-eclipse .cp-keyword,
.cps-eclipse .cp-control,
.cps-eclipse .cp-boolean,
.cps-eclipse .cp-special { color:#7F0055; font-weight:bold; }
.cps-eclipse .cp-variable { color:#000099; font-style:italic; }
.cps-eclipse .cp-empty-value { color:#AF0000; }
.cps-eclipse .cp-special { font-style:italic; }
.cps-eclipse .cp-special.cp-doctype { color:#006600; font-style:normal; font-weight:normal; }
.cps-eclipse .cp-numeric { color:#557F5F; font-weight:bold; }
.cps-eclipse .cp-hex { color:#990099; font-weight:normal; }
.cps-eclipse .cp-fname { color:#006600; }
.cps-eclipse .cp-property { color:#006600; }
.cps-eclipse .cp-regexp { color:#FF0000; }
.cps-eclipse .cp-escaped { color:#990099; }
.cps-eclipse .cp-phptag { color:#000000; }
.cps-eclipse .cp-string { color:#0000C0; }
.cps-eclipse .cp-comment { color:#3F5FD1; }
.cps-eclipse .cp-line-comment { color:#637F5F; }