/* CodePrinter - Monokai theme */

.cp-wrapper {
	background:rgb(39,40,34) !important;
}

.cp-javascript { color:rgb(240,248,244); }
.cp-tab { border-left-color:rgb(70,70,65); }
.cp-fname { color:rgb(118,216,240); }
.cp-curlybracket { color:rgb(240,248,244); }
.cp-squarebracket { color:rgb(240,248,244); }
.cp-roundbracket { color:rgb(240,248,244); }
.cp-anglebracket { color:rgb(240,248,244); }
.cp-keyword { color:rgb(241,39,103); font-style:normal; font-weight:normal; }
.cp-specials { color:rgb(166,226,45); }
.cp-property { color:rgb(238,214,94); }
.cp-regex { color:rgb(238,214,101); }
.cp-escaped { color:rgb(174,129,155); }
.cp-number { color:rgb(174,129,255); font-weight:normal; }
.cp-hex { color:rgb(174,129,155); font-style:italic; }
.cp-string, .cp-string * { color:rgb(238,214,101) !important; }
.cp-comment, .cp-comment * { color:rgb(117,112,93) !important; }