/* CodePrinter - Oblivion theme */

.cps-oblivion .cp-wrapper { background:#1e1e1e; color:#D8D8D8; }
.cps-oblivion .cp-counter { background:#1e1e1e; border-color:#696969; color:#d0d0d0; }
.cps-oblivion .cp-caret { background:white; box-shadow:0 0 2px rgba(255,255,255,0.5); }
.cps-oblivion .cp-selection { background:rgba(225,225,225,0.15); }
.cps-oblivion .cp-highlight { border-bottom:1px solid white; }
.cps-oblivion .cp-active-line { background:rgba(0,0,0,0.5); box-shadow:0 0 0 1px black; }
.cps-oblivion .cp-search-occurrence { border-color:#ddd; }
.cps-oblivion .cp-search-occurrence.active { background:white; border-color:white; color:#333; }
.cps-oblivion .cp-hint-container { background:#1e1e1e; border-color:#696969; box-shadow:0 0 5px rgba(0,0,0,0.7); color:#d8d8d8; }
.cps-oblivion .cp-hint-container .active { background:#e1e1e1; color:#111; }
.cps-oblivion .cp-scrollbar-slider { background:rgba(255,255,255,0.4); }

.cps-oblivion .cpx-tab { border-color:#445544; }
.cps-oblivion .cpx-bracket { color:#D8D8D8; }
.cps-oblivion .cpx-operator { color:#FFFFFF; }
.cps-oblivion .cpx-keyword { color:#D197D9; }
.cps-oblivion .cpx-control { color:#D197D9; }
.cps-oblivion .cpx-variable { color:#79ABFF; }
.cps-oblivion .cpx-parameter { color:#79ABFF; }
.cps-oblivion .cpx-builtin { color:#7FB347; }
.cps-oblivion .cpx-boolean { color:#7FB347; }
.cps-oblivion .cpx-constant { color:#EFC090; }
.cps-oblivion .cpx-special { color:#D25252; }
.cps-oblivion .cpx-directive { color:#D25252; }
.cps-oblivion .cpx-namespace { color:#CCDF32; }
.cps-oblivion .cpx-numeric { color:#7FB347; }
.cps-oblivion .cpx-hex { color:#7FB347; }
.cps-oblivion .cpx-function { color:#BED6FF; }
.cps-oblivion .cpx-property { color:#BED6FF; }
.cps-oblivion .cpx-regexp { color:#D9E577; }
.cps-oblivion .cpx-escaped { color:#BFA4A4; }
.cps-oblivion .cpx-external { color:#FF0000; }
.cps-oblivion .cpx-string { color:#FFC600; }
.cps-oblivion .cpx-comment { color:#C7DD0C; }