/* CodePrinter - Obsidian theme */

.cps-obsidian .cp-wrapper { background:#293134; color:#e0e2e4; }
.cps-obsidian .cp-counter,
.cps-obsidian .cpi-bar,
.cps-obsidian .cpf-bar { background:#293134; border-color:#81969a; color:#81969a; }
.cps-obsidian .cp-caret { background:white; box-shadow:0 0 2px rgba(255,255,255,0.5); }
.cps-obsidian .cp-selection { background:#804000; }
.cps-obsidian .cp-highlight { box-shadow:0 1px 0 white; }
.cps-obsidian .cp-activeLine { background:rgba(0,0,0,0.3); box-shadow:0 0 0 1px black; }
.cps-obsidian .cpf-input { background:#394144; border-color:#81969a; }
.cps-obsidian .cpf-occurrence { border-color:#ddd; }
.cps-obsidian .cpf-occurrence.active { background:#616161; color:#fff; }

.cps-obsidian .cp-tab { border-color:#445544; }
.cps-obsidian .cp-bracket { color:#E8E2B7; }
.cps-obsidian .cp-operator { color:#E8E2B7; }
.cps-obsidian .cp-keyword { color:#93C763; }
.cps-obsidian .cp-control { color:#93C763; }
.cps-obsidian .cp-variable { color:#79ABFF; }
.cps-obsidian .cp-boolean { color:#EFC090; }
.cps-obsidian .cp-empty-value { color:#EFC090; }
.cps-obsidian .cp-special { color:#A082BD; }
.cps-obsidian .cp-numeric { color:#FFCD22; }
.cps-obsidian .cp-fname { color:#678CB1; }
.cps-obsidian .cp-property { color:#678CB1; }
.cps-obsidian .cp-regexp { color:#D25252; }
.cps-obsidian .cp-escaped { color:#EFC090; }
.cps-obsidian .cp-phptag { color:#FFFFFF; }
.cps-obsidian .cp-string { color:#EC7600; }
.cps-obsidian .cp-comment { color:#7D8C93; }

.cps-obsidian .cp-control,
.cps-obsidian .cp-boolean,
.cps-obsidian .cp-phptag { font-weight:bold; }

.cps-obsidian .cp-string,
.cps-obsidian .cp-fname { font-style:italic; }