/* CodePrinter - Obsidian theme */

.cps-obsidian .cp-wrapper { background:#293134; color:#e0e2e4; }
.cps-obsidian .cp-counter,
.cps-obsidian .cpi-bar { background:#293134; border-color:#81969a; color:#81969a; }
.cps-obsidian .cp-caret { background:white; box-shadow:0 0 2px rgba(255,255,255,0.5); }
.cps-obsidian .cp-selection { background:#804000; }
.cps-obsidian .cp-highlight { border-bottom:1px solid white; }
.cps-obsidian .cp-activeLine { background:rgba(0,0,0,0.3); box-shadow:0 0 0 1px black; }
.cps-obsidian .cp-search-occurrence { border-color:#ddd; }
.cps-obsidian .cp-search-occurrence.active { background:#616161; color:#fff; }

.cps-obsidian .cpx-tab { border-color:#445544; }
.cps-obsidian .cpx-bracket { color:#E8E2B7; }
.cps-obsidian .cpx-operator { color:#E8E2B7; }
.cps-obsidian .cpx-keyword { color:#93C763; }
.cps-obsidian .cpx-control { color:#93C763; }
.cps-obsidian .cpx-variable { color:#79ABFF; }
.cps-obsidian .cpx-boolean { color:#EFC090; }
.cps-obsidian .cpx-empty-value { color:#EFC090; }
.cps-obsidian .cpx-special { color:#A082BD; }
.cps-obsidian .cpx-numeric { color:#FFCD22; }
.cps-obsidian .cpx-function { color:#678CB1; }
.cps-obsidian .cpx-property { color:#678CB1; }
.cps-obsidian .cpx-regexp { color:#D25252; }
.cps-obsidian .cpx-escaped { color:#EFC090; }
.cps-obsidian .cpx-phptag { color:#FFFFFF; }
.cps-obsidian .cpx-string { color:#EC7600; }
.cps-obsidian .cpx-comment { color:#7D8C93; }

.cps-obsidian .cpx-control,
.cps-obsidian .cpx-boolean,
.cps-obsidian .cpx-phptag { font-weight:bold; }

.cps-obsidian .cpx-string,
.cps-obsidian .cpx-function { font-style:italic; }