/* CodePrinter - Roboticket theme */

.cps-roboticket .cp-wrapper { background:#F5F5F5; color:#585858; }
.cps-roboticket .cp-counter { background:#F5F5F5; color:#AFBFCF; border-color:#AFBFCF; }
.cps-roboticket .cp-selection { background:#E0E0FF; }
.cps-roboticket .cp-active-line { background:#E0E0FF; box-shadow:0 0 0 1px rgba(69,69,255,0.3); color:#405060 !important; }
.cps-roboticket .cp-search-occurrence {}
.cps-roboticket .cp-search-occurrence.active { background:#FFCFBB; border-color:#FFCFBB; color:#585858; }
.cps-roboticket .cp-hint-container { background:#F5F5F5; border-color:#AFBFCF; box-shadow:0 0 10px rgba(0,0,0,0.1); color:#585858; }
.cps-roboticket .cp-hint-container .active { background:#E5E5E5; color:#484848; }
.cps-roboticket .cp-scrollbar-slider { background:rgba(0,0,0,0.4); border-radius:0; }
.cps-roboticket .cp-scrollbar-vertical .cp-scrollbar-slider { width:3px; }
.cps-roboticket .cp-scrollbar-horizontal .cp-scrollbar-slider { height:3px; }

.cps-roboticket .cpx-tab { border-color:#445544; }
.cps-roboticket .cpx-bracket { color:#585858; }
.cps-roboticket .cpx-operator { color:#000000; }
.cps-roboticket .cpx-keyword { color:#295F94; }
.cps-roboticket .cpx-control { color:#295F94; }
.cps-roboticket .cpx-variable { color:#55AA55; }
.cps-roboticket .cpx-parameter { color:#55AA55; }
.cps-roboticket .cpx-builtin { color:#9B5656; }
.cps-roboticket .cpx-constant { color:#885D3B; }
.cps-roboticket .cpx-special { color:#AB2525; }
.cps-roboticket .cpx-directive { color:#B05A65; }
.cps-roboticket .cpx-namespace { color:#55AA55; }
.cps-roboticket .cpx-numeric { color:#AF0F91; }
.cps-roboticket .cpx-function { color:#BC5A65; }
.cps-roboticket .cpx-property { color:#566874; }
.cps-roboticket .cpx-regexp { color:#317ECC; }
.cps-roboticket .cpx-escaped { color:#566874; }
.cps-roboticket .cpx-external { color:#566874; }
.cps-roboticket .cpx-string { color:#317ECC; }
.cps-roboticket .cpx-comment { color:#AD95AF; }
.cps-roboticket .cpx-invalid { background:#B05A65; }

.cps-roboticket .cpx-control,
.cps-roboticket .cpx-boolean,
.cps-roboticket .cpx-function { font-weight:bold; }

.cps-roboticket .cpx-special,
.cps-roboticket .cpx-comment { font-style:italic; }