/* CodePrinter - Roboticket theme */

.cps-roboticket .cp-wrapper { background:#F5F5F5; color:#585858; }
.cps-roboticket .cp-counter { background:#F5F5F5; color:#AFBFCF; border-left-color:#AFBFCF; }
.cps-roboticket .cp-source::selection { background:#BDD8F2; }

.cps-roboticket .cp-tab { border-left-color:#445544; }
.cps-roboticket .cp-bracket { color:#B05A65; }
.cps-roboticket .cp-curly { font-weight:bold; }
.cps-roboticket .cp-operator { color:#000000; }
.cps-roboticket .cp-keyword { color:#295F94; }
.cps-roboticket .cp-control { color:#295F94; font-weight:bold; }
.cps-roboticket .cp-variable { color:#55AA55; }
.cps-roboticket .cp-boolean { color:#0A0B0C; font-weight:bold; }
.cps-roboticket .cp-empty-value { color:#0A0B0C; font-weight:bold; }
.cps-roboticket .cp-special { color:#AB2525; font-style:italic; }
.cps-roboticket .cp-numeric { color:#AF0F91; }
.cps-roboticket .cp-fname { color:#BC5A65; font-weight:bold; }
.cps-roboticket .cp-property { color:#566874; }
.cps-roboticket .cp-regexp { color:#317ECC; }
.cps-roboticket .cp-escaped { color:#295F94; }
.cps-roboticket .cp-phptag { color:#566874; }
.cps-roboticket .cp-string, .cps-roboticket .cp-string * { color:#317ECC !important; }
.cps-roboticket .cp-comment, .cps-roboticket .cp-comment * { color:#AD95AF !important; font-style:italic; }