/* CodePrinter - Solarized Light theme */

.cps-solarized-light .cp-wrapper { background:#fdf6e3; color:#657A81; }
.cps-solarized-light .cp-counter { background:#eee8d5; color:#586e75; border:none; box-shadow:none; }
.cps-solarized-light .cp-caret { background:#586e75; }
.cps-solarized-light .cp-selection { background:#c0c1b9; }
.cps-solarized-light .cp-highlight { border-bottom:1px solid #586e75; }
.cps-solarized-light .cp-active-line { background:#fef8a8; }
.cps-solarized-light .cp-search-occurrence {}
.cps-solarized-light .cp-search-occurrence.active { background:#586e75; border-color:#586e75; color:#fdf6e3; }
.cps-solarized-light .cp-hint-container { background:#fdf6e3; border-color:#bbb5a2; box-shadow:0 0 10px rgba(187, 181, 162, 0.6); color:#657A81; }
.cps-solarized-light .cp-hint-container li.active { background:#88826F; color:#ffffff; }
.cps-solarized-light .cp-scrollbar-slider { background:#BBB5A2; }

.cps-solarized-light .cpx-tab { border-color:#586e75; }
.cps-solarized-light .cpx-bracket { color:#657b83; }
.cps-solarized-light .cpx-operator { color:#839496; }
.cps-solarized-light .cpx-keyword { color:#dc322f; }
.cps-solarized-light .cpx-control { color:#859900; font-weight:bold; }
.cps-solarized-light .cpx-variable { color:#657b83; }
.cps-solarized-light .cpx-parameter { color:#d33682; }
.cps-solarized-light .cpx-builtin { color:#2aa198; }
.cps-solarized-light .cpx-constant { color:#859900; }
.cps-solarized-light .cpx-special { color:#b58900; font-style:italic; }
.cps-solarized-light .cpx-directive { color:#cb4b16; }
.cps-solarized-light .cpx-namespace { color:#6c71c4; }
.cps-solarized-light .cpx-numeric { color:#2aa198; }
.cps-solarized-light .cpx-function { color:#268bd2; }
.cps-solarized-light .cpx-property { color:#333333; }
.cps-solarized-light .cpx-regexp { color:#d33682; }
.cps-solarized-light .cpx-escaped { color:#dc322f; }
.cps-solarized-light .cpx-external { color:#b58900; }
.cps-solarized-light .cpx-string { color:#2aa198; }
.cps-solarized-light .cpx-comment { color:#93a1a1; font-style:italic; }