/* CodePrinter - Solarized Dark theme */

.cps-solarized-dark { border:1px solid #002b36; }
.cps-solarized-dark .cp-wrapper { background:#002b36; color:#839496; }
.cps-solarized-dark .cp-counter { background:#073642; color:#657b83; border:none; }
.cps-solarized-dark .cp-caret { background:#e0e0e0; }
.cps-solarized-dark .cp-selection { background:#2B4F58; }
.cps-solarized-dark .cp-highlight { border-bottom:1px solid #e0e0e0; }
.cps-solarized-dark .cp-active-line { background:#001b26; }
.cps-solarized-dark .cp-search-occurrence { border-color:#e0e0e0; }
.cps-solarized-dark .cp-search-occurrence.active { background:#e0e0e0; color:#001b26; }
.cps-solarized-dark .cp-hint-container { background:#002b36; border-color:#001b26; box-shadow:0 0 10px 0 #001b26; color:#B2C8D0; }
.cps-solarized-dark .cp-hint-container li.active { background:#001b26; color:#E4FAFF; }
.cps-solarized-dark .cp-scrollbar-slider { background:rgba(255,255,255,0.5); }

.cps-solarized-dark .cpx-tab { border-color:#445544; }
.cps-solarized-dark .cpx-bracket { color:#839496; }
.cps-solarized-dark .cpx-operator { color:#839496; }
.cps-solarized-dark .cpx-keyword { color:#dc322f; }
.cps-solarized-dark .cpx-control { color:#859900; font-weight:bold; }
.cps-solarized-dark .cpx-variable { color:#93a1a1; }
.cps-solarized-dark .cpx-parameter { color:#d33682; }
.cps-solarized-dark .cpx-builtin { color:#2aa198; }
.cps-solarized-dark .cpx-constant { color:#859900; }
.cps-solarized-dark .cpx-special { color:#b58900; font-style:italic; }
.cps-solarized-dark .cpx-directive { color:#cb4b16; }
.cps-solarized-dark .cpx-namespace { color:#6c71c4; }
.cps-solarized-dark .cpx-numeric { color:#2aa198; }
.cps-solarized-dark .cpx-function { color:#268bd2; }
.cps-solarized-dark .cpx-property { color:#cccccc; }
.cps-solarized-dark .cpx-regexp { color:#d33682; }
.cps-solarized-dark .cpx-escaped { color:#7ca5d5; }
.cps-solarized-dark .cpx-external { color:#b58900; }
.cps-solarized-dark .cpx-string { color:#2aa198; }
.cps-solarized-dark .cpx-comment { color:#586e75; font-style:italic; }