/* CodePrinter - Tango theme */

.cps-tango .cp-wrapper { background:#FFFFFF; color:#000000; }
.cps-tango .cp-counter { background:#FFFFFF; color:#999999; border-left-color:#999999; box-shadow:0 0 10px rgba(0,0,0,0.1); }
.cps-tango .cp-source::selection { background:#EEEEEE; }

.cps-tango .cp-tab { border-left-color:#999999; }
.cps-tango .cp-bracket { color:#444444; }
.cps-tango .cp-operator { color:#000000; }
.cps-tango .cp-keyword { color:#688046; }
.cps-tango .cp-control { color:#688046; }
.cps-tango .cp-variable { color:#5c8198; }
.cps-tango .cp-boolean { color:#885d3b; }
.cps-tango .cp-empty-value { color:#885d3b; }
.cps-tango .cp-special { color:#9b5656; }
.cps-tango .cp-numeric { color:#801f91; }
.cps-tango .cp-fname { color:#444444; }
.cps-tango .cp-property { color:#566874; }
.cps-tango .cp-regexp { color:#92679a; }
.cps-tango .cp-escaped { color:#ab2525; }
.cps-tango .cp-phptag { color:#05314d; }
.cps-tango .cp-string, .cps-tango .cp-string * { color:#92679a !important; }
.cps-tango .cp-comment, .cps-tango .cp-comment * { color:#17608f !important; }