/* CodePrinter - Tango theme */

.cps-tango .cp-wrapper { background:#fff; color:#000; }
.cps-tango .cp-selection { background:#eee; }
.cps-tango .cp-highlight { border-bottom:1px solid black; }
.cps-tango .cp-counter,
.cps-tango .cp-hint-container { background:#fff; border-color:#c0c0c0; color:#777; box-shadow:0 0 10px rgba(0,0,0,0.1); }
.cps-tango .cp-search-occurrence {}
.cps-tango .cp-search-occurrence.active { background:#e0e0e0; border-color:#c0c0c0; color:#222; }
.cps-tango .cp-hint-container .active { background:#e0e0e0; color:#222; }
.cps-tango .cp-scrollbar-slider { background:rgba(0,0,0,0.3); }

.cps-tango .cpx-tab { border-color:#999999; }
.cps-tango .cpx-bracket { color:#444444; }
.cps-tango .cpx-operator { color:#000000; }
.cps-tango .cpx-keyword { color:#688046; }
.cps-tango .cpx-control { color:#688046; }
.cps-tango .cpx-variable { color:#5c8198; }
.cps-tango .cpx-parameter { color:#cc9393; }
.cps-tango .cpx-constant { color:#ab2525; }
.cps-tango .cpx-builtin { color:#885d3b; }
.cps-tango .cpx-boolean { color:#885d3b; }
.cps-tango .cpx-special { color:#9b5656; }
.cps-tango .cpx-numeric { color:#801f91; }
.cps-tango .cpx-function { color:#444444; }
.cps-tango .cpx-property { color:#566874; }
.cps-tango .cpx-regexp { color:#92679a; }
.cps-tango .cpx-escaped { color:#ab2525; }
.cps-tango .cpx-external { color:#05314d; }
.cps-tango .cpx-string { color:#92679a; }
.cps-tango .cpx-comment { color:#17608f; }