/* CodePrinter - Vibrant Ink theme */

.cps-vibrant-ink .cp-wrapper,
.cps-vibrant-ink .cp-source { background:#191919; color:#fff; }
.cps-vibrant-ink .cp-counter { background:#191919; border-color:#555; color:#999; box-shadow:0 0 10px rgba(0,0,0,0.7); }
.cps-vibrant-ink .cp-caret { background:white; box-shadow:0 0 2px rgba(255,255,255,0.5); }
.cps-vibrant-ink .cp-selection { background:rgba(255,255,255,0.1); }
.cps-vibrant-ink .cp-highlight { border-bottom:1px solid white; }
.cps-vibrant-ink .cp-active-line { background:rgba(0,0,0,0.5); box-shadow:0 0 0 1px black; }
.cps-vibrant-ink .cp-search-occurrence { background:#616161; color:#fff; }
.cps-vibrant-ink .cp-search-occurrence.active { background:#F1C438; border-color:#F1C438; color:#191919; }
.cps-vibrant-ink .cp-hint-container { background:#191919; border-color:#555; box-shadow:0 0 10px rgba(0,0,0,0.7); color:#fff; }
.cps-vibrant-ink .cp-hint-container .active { background:#555; }
.cps-vibrant-ink .cp-scrollbar-slider { background:rgba(255,255,255,0.2); }

.cps-vibrant-ink .cpx-tab { border-color:#6A6A6A; }
.cps-vibrant-ink .cpx-bracket { color:#FFFFFF; }
.cps-vibrant-ink .cpx-operator { color:#FFFFFF; }
.cps-vibrant-ink .cpx-keyword { color:#EC691E; }
.cps-vibrant-ink .cpx-control { color:#EC691E; }
.cps-vibrant-ink .cpx-variable { color:#3C758D; }
.cps-vibrant-ink .cpx-parameter { color:#F1C438; }
.cps-vibrant-ink .cpx-constant { color:#FFFFFF; }
.cps-vibrant-ink .cpx-builtin { color:#408000; }
.cps-vibrant-ink .cpx-boolean { color:#EC691E; }
.cps-vibrant-ink .cpx-special { color:#9CF828; }
.cps-vibrant-ink .cpx-numeric { color:#477488; }
.cps-vibrant-ink .cpx-function { color:#B2DA16; }
.cps-vibrant-ink .cpx-property { color:#CDB1AD; }
.cps-vibrant-ink .cpx-regexp { color:#F7C527; }
.cps-vibrant-ink .cpx-escaped { color:#D9B0AC; }
.cps-vibrant-ink .cpx-external { color:#FFFFFF; }
.cps-vibrant-ink .cpx-string { color:#477488; }
.cps-vibrant-ink .cpx-comment { color:#8C3FC8; }
.cps-vibrant-ink .cpx-singleline-comment { color:#8146A2; }
.cps-vibrant-ink .cpx-invalid { background:#FF0000; }