/* CodePrinter - Xcode theme */

.cps-xcode .cp-wrapper { background:#fff; color:#000; }
.cps-xcode .cp-counter { background:#fff; color:#555; border-color:#cacaca; }
.cps-xcode .cp-selection { background:#BDD8F2; }
.cps-xcode .cp-highlight { border-bottom:1px solid black; }
.cps-xcode .cp-search-occurrence {}
.cps-xcode .cp-search-occurrence.active { background:#BDD8F2; color:black; }
.cps-xcode .cp-hint-container { background:#fff; border-color:#cacaca; box-shadow:0 0 10px rgba(0,0,0,0.2); color:#555; } 
.cps-xcode .cp-hint-container .active { background:#1a7dff; color:#fff; }

.cps-xcode .cpx-tab { border-color:#CACACA; }
.cps-xcode .cpx-bracket { color:#000000; }
.cps-xcode .cpx-operator { color:#000000; }
.cps-xcode .cpx-keyword { color:#AA1D91; }
.cps-xcode .cpx-control { color:#AA1D91; }
.cps-xcode .cpx-variable { color:#000000; }
.cps-xcode .cpx-parameter { color:#836C28; }
.cps-xcode .cpx-builtin { color:#2E0D6E; }
.cps-xcode .cpx-boolean { color:#AA1D91; }
.cps-xcode .cpx-constant { color:#2E0D6E; }
.cps-xcode .cpx-special { color:#5C2699; }
.cps-xcode .cpx-directive { color:#643820; }
.cps-xcode .cpx-namespace { color:#26474B; }
.cps-xcode .cpx-numeric { color:#1C00CF; }
.cps-xcode .cpx-hex { color:#0E0EFF; }
.cps-xcode .cpx-function { color:#3F6E74; }
.cps-xcode .cpx-property { color:#000000; }
.cps-xcode .cpx-regexp { color:#C41A16; }
.cps-xcode .cpx-escaped { color:#558186; }
.cps-xcode .cpx-external { color:#023D10; }
.cps-xcode .cpx-string { color:#C41A16; }
.cps-xcode .cpx-comment { color:#007400; }
.cps-xcode .cpx-single-quote { color:#2B3DD8; }
.cps-xcode .cpx-invalid { background:#C41A16; }