/* CodePrinter - Xcode theme */

.cps-xcode .cp-wrapper { background:#FFFFFF; color:#000000; }
.cps-xcode .cp-counter,
.cps-xcode .cpi-bar,
.cps-xcode .cpf-bar { background:#FFFFFF; color:#999999; border-color:#AFBFCF; }
.cps-xcode .cp-selection { background:#BDD8F2; }
.cps-xcode .cp-activeLine { background:rgba(200,180,255,0.3); }

.cps-xcode .cp-tab { border-color:#BBBBBB; }
.cps-xcode .cp-bracket { color:#000000; }
.cps-xcode .cp-operator { color:#000000; }
.cps-xcode .cp-variable { color:#000000; }
.cps-xcode .cp-keyword { color:#B309A1; }
.cps-xcode .cp-control { color:#B309A1; }
.cps-xcode .cp-boolean { color:#B309A1; }
.cps-xcode .cp-empty-value { color:#74482E; }
.cps-xcode .cp-special { color:#6F33A7; }
.cps-xcode .cp-directives { color:#78492B; }
.cps-xcode .cp-numeric { color:#340DD4; }
.cps-xcode .cp-fname { color:#000000; }
.cps-xcode .cp-property { color:#37595D; }
.cps-xcode .cp-regexp { color:#C81B28; }
.cps-xcode .cp-escaped { color:#558186; }
.cps-xcode .cp-phptag { color:#000000; }
.cps-xcode .cp-string { color:#C81B28; }
.cps-xcode .cp-single-quote { color:#2B3DD8; }
.cps-xcode .cp-comment { color:#1D8711; }