* {
    outline: none;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing:subpixel-antialiased;
}
*::selection {
    background: rgba(255, 127, 0, 0.6);
    color: #333;
}
body {
    background: url("background.png") repeat;
}
img {
    opacity:0;
}
main {
    width: 50%;
    min-width: 700px;
    margin: 0 auto;
}
header {
    padding: 4px 0 0;
}
header h1 {
    text-align: center;
    font-family: monospace;
    font-size: 44px;
    color: #444;
    cursor: default;
}
article {
    padding: 0 20px 15px;
}
article p {
    color: #444;
}
section .codeprinter {
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
    transform: translateX(50px);
}
#options {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding: 20px 0;
    color: #444;
}
header, article, #options, .codeprinter {
    opacity: 0;
}
fieldset {
    display: inline-block;
    vertical-align: top;
    min-width: 300px;
    padding: 10px 0;
    border: none;
    text-align: center;
}
fieldset div {
    padding: 3px 0;
    white-space: nowrap;
}
fieldset label {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;
    display: inline-block;
    width: 150px;
    padding: 0;
    margin-right: 10px;
    font-size: 14px;
    text-align: right;
}
fieldset:first-child div select,
fieldset:first-child div button {
    width: 140px;
}
fieldset:first-child div input {
    width: 126px;
}
input[type="text"],
input[type="number"] {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    vertical-align: middle;
    margin: 1px 5px;
    padding: 4px 5px 4px 8px;
    width: 120px;
    height: 15px;
    background: #fcfcfc;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    font-size: 13px;
    color: #666;
    overflow: visible;
    position: relative;
}
input[type="text"]:hover,
input[type="number"]:hover {
    border-color: #b3b3b3;
    color: #444;
}
input[type="text"]:active,
input[type="number"]:active,
input[type="text"]:focus,
input[type="number"]:focus {
    background: #ffffff;
    border-color: #9f9f9f;
    color: #222;
}
input[type=checkbox] {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f0));
    background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
    background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
    background-image: -ms-linear-gradient(top, #ffffff, #f0f0f0);
    background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
    background-image: linear-gradient(top, #ffffff, #f0f0f0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
    display: inline-block;
    vertical-align: middle;
    margin: 3px 3px;
    width: 18px;
    height: 18px;
    border: 1px solid #b3b3b3;
    color: #333;
    font-size: 0px;
    position: relative;
    overflow: visible;
    -webkit-appearance: none;
}
input[type=checkbox]:hover {
    border-color: #9f9f9f;
}
input[type=checkbox]:active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #f0f0f0, #ffffff);
    background-image: -moz-linear-gradient(top, #f0f0f0, #ffffff);
    background-image: -ms-linear-gradient(top, #f0f0f0, #ffffff);
    background-image: -o-linear-gradient(top, #f0f0f0, #ffffff);
    background-image: linear-gradient(top, #f0f0f0, #ffffff);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
    -o-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
    border-color: #959595;
    color: #444;
    z-index: 3;
}
input[type=checkbox]::after {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 15px;
    position: absolute;
    top: 0;
    left: 3px;
    content: "✔";
}
input[type=checkbox]:checked {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #f0f0f0, #ffffff);
    background-image: -moz-linear-gradient(top, #f0f0f0, #ffffff);
    background-image: -ms-linear-gradient(top, #f0f0f0, #ffffff);
    background-image: -o-linear-gradient(top, #f0f0f0, #ffffff);
    background-image: linear-gradient(top, #f0f0f0, #ffffff);
    border: 1px solid #959595;
}
input[type=checkbox]:checked::after {
    opacity: 1;
}
button,
select {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f0));
    background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
    background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
    background-image: -ms-linear-gradient(top, #ffffff, #f0f0f0);
    background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
    background-image: linear-gradient(top, #ffffff, #f0f0f0);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    margin: 1px 5px;
    padding: 4px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    color: #666;
    font-size: 13px;
    text-align: center;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
}
button:hover,
select:hover,
button.hover,
select.hover {
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    -ms-box-shadow: inset 0 1px 0 #ffffff;
    -o-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
    border-color: #a9a9a9;
    color: #555;
    z-index: 2;
}
button:active,
select:active,
button.active,
select.active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #f0f0f0, #ffffff);
    background-image: -moz-linear-gradient(top, #f0f0f0, #ffffff);
    background-image: -ms-linear-gradient(top, #f0f0f0, #ffffff);
    background-image: -o-linear-gradient(top, #f0f0f0, #ffffff);
    background-image: linear-gradient(top, #f0f0f0, #ffffff);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    -o-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    border-color: #9f9f9f;
    color: #444;
    z-index: 3;
}
select {
    border-radius: 10px;
}
