* {
    outline: none;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing:subpixel-antialiased;
}
*::selection {
    background: rgba(255, 127, 0, 0.6);
    color: #333;
}
body {
    background: url("background.png") repeat;
}
img {
    opacity:0;
}
main {
    width: 50%;
    min-width: 700px;
    margin: 40px auto 0;
}
header {
    padding: 4px 0 0;
}
header h1 {
    text-align: center;
    font-family: monospace;
    font-size: 44px;
    color: #444;
    cursor: default;
}
article {
    padding: 30px 20px;
    font-size: 16px;
}
article p {
    color: #444;
}
section .codeprinter {
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
    transform: translateX(50px);
}
#options {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    padding: 20px 0;
    color: #444;
}
header, article, #options, .codeprinter {
    opacity: 0;
}
fieldset {
    display: inline-block;
    vertical-align: top;
    min-width: 300px;
    padding: 10px 0;
    border: none;
    text-align: center;
}
fieldset div {
    padding: 3px 0;
    white-space: nowrap;
}
fieldset label {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;
    display: inline-block;
    width: 150px;
    padding: 0;
    margin-right: 10px;
    font-size: 14px;
    text-align: right;
}
fieldset:first-child div select,
fieldset:first-child div button {
    width: 140px;
}
fieldset:first-child div input {
    width: 126px;
}
#downloads {
    margin: 25px 0 0;
    text-align: center;
}